.slider-discount.slider-article
    a(href='' title='').article-block
        .article-block--image-container
            img(src='img/illus/discount-big.png' title='' alt='')
        .article-block--title
            h4 Как правильно выбрать ворота?
    a(href='' title='').article-block
        .article-block--image-container
            img(src='img/illus/discount-big.png' title='' alt='')
        .article-block--title
            h4 Как правильно выбрать ворота?
    a(href='' title='').article-block
        .article-block--image-container
            img(src='img/illus/discount-big.png' title='' alt='')
        .article-block--title
            h4 Зачем быть, если небыль близко
a(href='' title='').link-discount Все статьи
    img(src='img/icons/arrow-right.svg' title='' alt='' onerror="img/icons/arrow-down.png")

