.slider-discount
    a(href='' title='').discount.discount-big
        .discount--image-container
            img(src='img/illus/discount-big.png' title='' alt='')
        .discount--title
            p На гаражные секционные ворота
            span.button.button-small Узнать больше
    a(href='' title='').discount.discount-big
        .discount--image-container
            img(src='img/illus/discount-big.png' title='' alt='')
        .discount--title
            p На гаражные секционные ворота
            span.button.button-small Узнать больше
    a(href='' title='').discount.discount-big
        .discount--image-container
            img(src='img/illus/discount-big.png' title='' alt='')
        .discount--title
            p На гаражные секционные ворота
            span.button.button-small Узнать больше
a(href='' title='').discount-all Все акции
    img(src='img/icons/arrow-right.svg' title='' alt='' onerror="img/icons/arrow-down.png")

