footer
    .container
        .row
            .col-lg-3
                h4 О КОМПАНИИ
                p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
            .col-md-4.col-lg-3
                h4 ДЛЯ ДОМА
                ul.menu-footer
                    li 
                        a(href='' title='') Уличные откатные (сдвижные) ворота
                    li 
                        a(href='' title='') Уличные распашные ворота
                    li 
                        a(href='' title='') Автоматика для ворот
                    li 
                        a(href='' title='') Гаражные секционные ворота
                    li 
                        a(href='' title='') Гаражные распашные ворота
                    li 
                        a(href='' title='') Шлагбаумы
                    li 
                        a(href='' title='') Калитки
            .col-md-4.col-lg-3
                h4 ДЛЯ БИЗНЕСА
                ul.menu-footer
                    li
                        a(href='' title='') Автоматические ворота
                    li
                        a(href='' title='') Уличные въездные ворота
                    li
                        a(href='' title='') Ангарные ворота
                    li
                        a(href='' title='') Автоматические приводы
                    li
                        a(href='' title='') Оптимизация погрузочных работ
                    li
                        a(href='' title='') Шлагбумы
                    li
                        a(href='' title='') Автоматические двери
            .col-md-4.col-lg-3
                h4 КОНТАКТЫ
                p.address Иркутск, ул. Байкальская 244а/2
                    br
                    | e-mail
                    a(href='' title='') vorota@irk.ru
                    br
                    | тел.
                    a(href='' title='') +7 (3952) 72-73-00
                ul.social-links
                    li
                        a(href='' title='')
                            +fb
                    li
                        a(href='' title='')
                            +twitter
        .row.footer-copyright
            .col-6
                p © 2000-2017 BOPOTA.RU
            .col-6
                p.copyright Created by
                    a(href='' title='').volta
                        svg(width='68px', height='15px', viewbox='0 0 68 15', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                g#2-My-Business-Hower(transform='translate(-1152.000000, -3129.000000)', fill='#FFFFFF')
                                    g#V1(transform='translate(1152.000000, 3129.000000)')
                                        path#Path(d='M7.4191323,14.9959601 L0,0 L1.96075425,0 C3.2239767,2.63479666 4.88885482,6.09130083 6.08002453,8.49824939 C6.91859574,10.1941826 7.50038326,11.5273364 7.50038326,11.5273364 C7.50038326,11.5273364 8.09750115,10.1618637 8.95523532,8.42795583 C10.1441055,6.02423916 11.7898206,2.60894156 13.0400123,0 L15,0 L7.57933466,15 L7.4191323,14.9959601 Z')
                                        path#Combined-Shape(d='M23.5,15 C19.3579945,15 16,11.6420654 16,7.5 C16,3.35793456 19.3579945,0 23.5,0 C27.6420055,0 31,3.35793456 31,7.5 C31,11.6420654 27.6420055,15 23.5,15 Z M23.5,1.56266652 C20.3072706,1.56266652 17.7189163,4.22119791 17.7189163,7.5 C17.7189163,10.7796014 20.3072706,13.4373335 23.5,13.4373335 C26.6927294,13.4373335 29.2810837,10.7796014 29.2810837,7.5 C29.2810837,4.22119791 26.6927294,1.56266652 23.5,1.56266652 Z')
                                        polygon#Path(points='42 15 34 15 34 0 35.8722107 0 35.8722107 13.2440816 42 13.2440816')
                                        polygon#Path(points='48.1271223 1.75510204 42 1.75510204 42 0 50 0 50 15 48.1271223 15')
                                        path#Path(d='M53.5,1 C53.2237209,1 53,0.775813953 53,0.5 C53,0.22372093 53.2237209,0 53.5,0 C53.7762791,0 54,0.22372093 54,0.5 C54,0.775813953 53.7762791,1 53.5,1 L53.5,1 Z')
                                        path#Path(d='M66.0385795,15 C64.776188,12.365105 63.111395,8.90872375 61.9202862,6.50161551 C61.0809913,4.80613893 60.5,3.4733441 60.5,3.4733441 C60.5,3.4733441 59.9029126,4.83844911 59.0452223,6.57189015 C57.8556464,8.97576737 56.2107818,12.3909532 54.9606541,15 L53,15 L60.4210526,0 L60.5812468,0.00403877221 L68,15 L66.0385795,15 Z')




//a(href='#index' title='Вверх').link-up.smooth
//    +angle-up
script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBYrpdv97iGtSPr-SDZcC7D3lCUrukw9uU', type='text/javascript')
include script.html

script(type="text/javascript" src="js/main.js")

