nav.nav-index.nav-transparent
    .nav-top
        .container.nav-border-bottom
            .row
                .col-8.col-md-3.col-lg-4
                    a(href='index.html' title='').logo ВОРОТА.РУ
                        svg(width='11px', height='19px', viewbox='0 0 11 19', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            g#Symbols(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                g#Header_White(transform='translate(-153.000000, -7.000000)', fill='#2F2F2F')
                                    g#Group-2(transform='translate(153.000000, 7.000000)')
                                        g#logo
                                            polygon#Rectangle-44(points='0 4.58910895 10.3104102 -3.63797881e-12 10.3104102 3.36067747 0 7.94978642')
                                            polygon#Rectangle-44-Copy(points='0 9.86688673 10.3104102 5.27777778 10.3104102 8.63845525 0 13.2275642')
                                            polygon#Rectangle-44-Copy-2(points='0 15.1446645 10.3104102 10.5555556 10.3104102 13.916233 0 18.505342')

                .col-4.nav-mobile
                    .nav-icon
                        span
                        span
                        span
                        span

                .col-md-3.col-lg-4#navitop
                    ul.menu
                        li
                            a(href='home.html' title='').active МОЙ ДОМ
                        li
                            a(href='business.html' title='') МОЙ БИЗНЕС
                .col-md-6.col-lg-4#navicontacts
                    ul.menu-contacts
                        li
                            a(href='tel:' title='') +7 (3952) 72-73-00
                        li
                            | Иркутск,
                            br
                            | ул. Байкальская, 244а/2
    .nav-bottom
        .container
            .row
                .col-md-2.col-lg-3.hidden-xs
                    a(href='' title='').link-home
                        svg(width='18px', height='18px', viewbox='0 0 18 18', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            g#Symbols(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                g#Header_White(transform='translate(-11.000000, -62.000000)', fill='#2F2F2F')
                                    g#Header
                                        g#Menu
                                            g#Menu_2(transform='translate(1.000000, 46.000000)')
                                                g#Home
                                                    path#Shape(d='M27.8534348,25.3571368 L24.1025214,21.360442 L24.1025214,18.2150705 C24.1026144,18.0635561 24.0425284,17.9182155 23.9354913,17.8110457 C23.8284543,17.703876 23.6832414,17.6436631 23.5318217,17.6436631 L22.2123415,17.6436631 C22.0608896,17.6436631 21.9156407,17.7038648 21.808548,17.8110245 C21.7014553,17.9181841 21.6412913,18.0635238 21.6412913,18.2150705 L21.6412913,18.7391237 L19.1523674,16.086236 C19.1017278,16.0312685 19.0304203,16 18.9557074,16 C18.8809945,16 18.809687,16.0312685 18.7590474,16.086236 L10.0555261,25.3571368 C9.94755592,25.47219 10.0018916,25.5676 10.1764668,25.5676 L12.6096528,25.5676 L12.6096528,33.5083739 C12.6104156,33.7565053 12.8107392,33.9577365 13.0587107,33.9594665 L17.1980364,33.9594665 L17.1980364,27.9261901 L20.7112751,27.9261901 L20.7112751,33.9594665 L24.8506008,33.9594665 C25.0992571,33.9586962 25.3006416,33.7571857 25.3014115,33.5083739 L25.3014115,25.5665477 L27.7328447,25.5665477 C27.9074199,25.5665477 27.9617556,25.4707869 27.8534348,25.3571368 L27.8534348,25.3571368 Z')
                .col-md-7.col-lg-6
                    ul.menu-sub
                        li
                            a(href='discounts.html' title='').active Акции
                        li
                            a(href='services.html' title='') Сервис
                        li
                            a(href='information.html' title='') Информация
                        li
                            a(href='about1.html' title='') О компании
                        li
                            a(href='contacts.html' title='') Контакты
                .col-md-3
                    .search-container
                        a(href='' title='').link-search
                            svg(width='19px', height='19px', viewbox='0 0 19 19', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                                g#Symbols(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                    g#Header_White(transform='translate(-1112.000000, -62.000000)', fill-rule='nonzero', fill='#000000')
                                        g#Shape(transform='translate(1112.000000, 62.000000)')
                                            path(d='M7.97562178,15.8794313 C4.76095252,15.8939085 1.85479693,13.9684798 0.614727675,11.0025843 C-0.625341576,8.03668877 0.0454309736,4.6157123 2.31370268,2.33771944 C4.58197438,0.0597265706 8.00005098,-0.625669757 10.9712226,0.601704412 C13.9423942,1.82907858 15.8802335,4.72697345 15.8795041,7.94167522 C15.8836786,12.3140886 12.3480131,15.864907 7.97562178,15.8794313 L7.97562178,15.8794313 Z M7.97562178,2.31674562 C5.69718706,2.30149982 3.63461055,3.66226139 2.75210703,5.76290052 C1.86960352,7.86353965 2.34151396,10.2890694 3.94722932,11.9056013 C5.55294468,13.5221332 7.97525154,14.010317 10.0817681,13.1419362 C12.1882846,12.2735554 13.5628628,10.2201609 13.5629138,7.94167522 C13.5702083,4.84677805 11.0704982,2.33022924 7.97562178,2.31674562 L7.97562178,2.31674562 Z')
                                            polygon(points='17.0001465 18.6091511 12 13.6391146 13.6372328 12 18.6354974 16.9700365')
                        form
                            input(type='text' placeholder="Введите текст").search-input

