#modal-order(style='display:none;')
    .send-visible
        h2 Оформление заказа
        form
            input(type='text' placeholder='Иванов Иван Иванович')
            input(type='tel' placeholder='+7 (3952) 72-73-00')
            button(type='submit').button.button-red.button-all Заказать
    .send-hidden
        img(src='img/icons/confirm.svg' title='' alt='' onerror='this.src="img/icons/confirm.png"')
        h2 Спасибо за заказ
        p Наш менеджер свяжеться с Вами в ближайшее время
        a(href='' title='').button.button-red.button-all Хорошо



