.row.justify-content-center
    .col-12.text-center
        ul.pagination
            li.pagination-arrow-left
                a(href='' title='')
                    img(src='img/icons/arrow-left.svg' title='' alt='' onerror='this.src="img/icons/arrow-left.png"')
            li
                a(href='' title='').active 1
            li
                a(href='' title='') 2
            li
                a(href='' title='') 3
            li
                a(href='' title='') 4
            li
                a(href='' title='') ...
            li.pagination-arrow-right
                a(href='' title='')
                    img(src='img/icons/arrow-right.svg' title='' alt='' onerror='this.src="img/icons/arrow-right.png"')
