section.popular-with-tab
    .container#tab-popular
        .row
            .col-lg-4.col-md-6
                h2 Популярные товары
            .col-lg-4.col-md-6
                ul.popular-tab
                    li
                        a(href='#tabs-1') МОЙ ДОМ
                    li
                        a(href='#tabs-2') МОЙ БИЗНЕС
        .row#tabs-1
            .col-md-6.col-lg-3
                a(href='' title='').product
                    .product--image-container
                        img(src='img/illus/business.png' title='' alt='')
                    h3 1 Гаражные секционные ворота
                    p Cтворка до 2.5м. Самоблокирующийся привод.
                    ul.product--tech
                        li
                            img(src='img/techs/small/tech1.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech2.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech3.svg' title='' alt='')
                    span.button 16 000 руб
            .col-md-6.col-lg-3
                a(href='' title='').product
                    .product--image-container
                        img(src='img/products/product1.png' title='' alt='')
                    h3 Гаражные секционные ворота
                    p Cтворка до 2.5м. Самоблокирующийся привод.
                    ul.product--tech
                        li
                            img(src='img/techs/small/tech1.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech2.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech3.svg' title='' alt='')
                    span.button 16 000 руб
            .col-md-6.col-lg-3
                a(href='' title='').product
                    .product--image-container
                        img(src='img/products/product3.png' title='' alt='')
                    h3 Гаражные секционные ворота
                    p Cтворка до 2.5м. Самоблокирующийся привод.
                    ul.product--tech
                        li
                            img(src='img/techs/small/tech1.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech2.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech3.svg' title='' alt='')
                    span.button 16 000 руб
            .col-md-6.col-lg-3
                a(href='' title='').product
                    .product--image-container
                        img(src='img/products/product4.png' title='' alt='')
                    h3 Гаражные секционные ворота
                    p Cтворка до 2.5м. Самоблокирующийся привод.
                    ul.product--tech
                        li
                            img(src='img/techs/small/tech1.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech2.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech3.svg' title='' alt='')
                    span.button 16 000 руб
        .row#tabs-2
            .col-md-6.col-lg-3
                a(href='' title='').product
                    .product--image-container
                        img(src='img/illus/business.png' title='' alt='')
                    h3 2 Гаражные секционные ворота
                    p Cтворка до 2.5м. Самоблокирующийся привод.
                    ul.product--tech
                        li
                            img(src='img/techs/small/tech1.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech2.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech3.svg' title='' alt='')
                    span.button 16 000 руб
            .col-md-6.col-lg-3
                a(href='' title='').product
                    .product--image-container
                        img(src='img/products/product1.png' title='' alt='')
                    h3 Гаражные секционные ворота
                    p Cтворка до 2.5м. Самоблокирующийся привод.
                    ul.product--tech
                        li
                            img(src='img/techs/small/tech1.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech2.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech3.svg' title='' alt='')
                    span.button 16 000 руб
            .col-md-6.col-lg-3
                a(href='' title='').product
                    .product--image-container
                        img(src='img/products/product3.png' title='' alt='')
                    h3 Гаражные секционные ворота
                    p Cтворка до 2.5м. Самоблокирующийся привод.
                    ul.product--tech
                        li
                            img(src='img/techs/small/tech1.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech2.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech3.svg' title='' alt='')
                    span.button 16 000 руб
            .col-md-6.col-lg-3
                a(href='' title='').product
                    .product--image-container
                        img(src='img/products/product4.png' title='' alt='')
                    h3 Гаражные секционные ворота
                    p Cтворка до 2.5м. Самоблокирующийся привод.
                    ul.product--tech
                        li
                            img(src='img/techs/small/tech1.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech2.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech3.svg' title='' alt='')
                    span.button 16 000 руб

