section
    .container
        .row
            .col-12
                h2 Популярные товары
            .col-md-6.col-lg-3
                a(href='' title='').product
                    .product--image-container
                        img(src='img/illus/business.png' title='' alt='')
                    h3 Гаражные секционные ворота
                    p Cтворка до 2.5м. Самоблокирующийся привод.
                    ul.product--tech
                        li
                            img(src='img/techs/small/tech1.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech2.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech3.svg' title='' alt='')
                    span.button 16 000 руб
            .col-md-6.col-lg-3
                a(href='' title='').product
                    .product--image-container
                        img(src='img/products/product1.png' title='' alt='')
                    h3 Гаражные секционные ворота
                    p Cтворка до 2.5м. Самоблокирующийся привод.
                    ul.product--tech
                        li
                            img(src='img/techs/small/tech1.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech2.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech3.svg' title='' alt='')
                    span.button 16 000 руб
            .col-md-6.col-lg-3
                a(href='' title='').product
                    .product--image-container
                        img(src='img/products/product3.png' title='' alt='')
                    h3 Гаражные секционные ворота
                    p Cтворка до 2.5м. Самоблокирующийся привод.
                    ul.product--tech
                        li
                            img(src='img/techs/small/tech1.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech2.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech3.svg' title='' alt='')
                    span.button 16 000 руб
            .col-md-6.col-lg-3
                a(href='' title='').product
                    .product--image-container
                        img(src='img/products/product4.png' title='' alt='')
                    h3 Гаражные секционные ворота
                    p Cтворка до 2.5м. Самоблокирующийся привод.
                    ul.product--tech
                        li
                            img(src='img/techs/small/tech1.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech2.svg' title='' alt='')
                        li
                            img(src='img/techs/small/tech3.svg' title='' alt='')
                    span.button 16 000 руб

