.row
    .col-lg-11
        .spacer-90
        h2 Обратная связь
        form.form-send
            input(type='text' placeholder='Ваше имя')
            input(type='email' placeholder='E-mail')
            textarea(placeholder='Текст сообщения')
            button(type='submit').button.button-red.block-center Отправить