.col-12
    h2.text-center Технологии ворота .ру
.col-md-6
    a(href='' title='').discount-article.project
        .discount-article--image-container
            img(src='img/techs/huge/tech1h.png' title='' alt='')
        h3 Safe Zone
        p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов [...]
        .link-more--wa
            .link-more--wa-text Читать больше
            .link-more--wa-arrow
.col-md-6
    a(href='' title='').discount-article.project
        .discount-article--image-container
            img(src='img/techs/huge/tech2h.png' title='' alt='')
        h3 Green tech
        p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов [...]
        .link-more--wa
            .link-more--wa-text Читать больше
            .link-more--wa-arrow
.col-md-6
    a(href='' title='').discount-article.project
        .discount-article--image-container
            img(src='img/techs/huge/tech3h.png' title='' alt='')
        h3 Nord Comfort
        p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов [...]
        .link-more--wa
            .link-more--wa-text Читать больше
            .link-more--wa-arrow
.col-md-6
    a(href='' title='').discount-article.project
        .discount-article--image-container
            img(src='img/techs/huge/tech4h.png' title='' alt='')
        h3 PRO tech
        p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов [...]
        .link-more--wa
            .link-more--wa-text Читать больше
            .link-more--wa-arrow
.col-md-6
    a(href='' title='').discount-article.project
        .discount-article--image-container
            img(src='img/techs/huge/tech5h.png' title='' alt='')
        h3 F1 tech
        p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов [...]
        .link-more--wa
            .link-more--wa-text Читать больше
            .link-more--wa-arrow
.col-md-6
    a(href='' title='').discount-article.project
        .discount-article--image-container
            img(src='img/techs/huge/tech6h.png' title='' alt='')
        h3 ART tech
        p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов [...]
        .link-more--wa
            .link-more--wa-text Читать больше
            .link-more--wa-arrow