section
    .container
        .row
            .col-12
                h2 Технологии
            .col-6.col-md-4.col-lg-2
                a(href='' title='').tech
                    img(src='img/techs/big/tech1.svg' title='' alt='')
                    p Выбор в пользу энергосбережения
            .col-6.col-md-4.col-lg-2
                a(href='' title='').tech
                    img(src='img/techs/big/tech2.svg' title='' alt='')
                    p Идеальная среда вашей безопасности
            .col-6.col-md-4.col-lg-2
                a(href='' title='').tech
                    img(src='img/techs/big/tech3.svg' title='' alt='')
                    p Nord. Комфортно летом, тепло зимой
            .col-6.col-md-4.col-lg-2
                a(href='' title='').tech
                    img(src='img/techs/big/tech4.svg' title='' alt='')
                    p Промышленные комплектующие
            .col-6.col-md-4.col-lg-2
                a(href='' title='').tech
                    img(src='img/techs/big/tech5.svg' title='' alt='')
                    p Жизнь в движении Скорость выше в 2 раза
            .col-6.col-md-4.col-lg-2
                a(href='' title='').tech
                    img(src='img/techs/big/tech6.svg' title='' alt='')
                    p Создай настроение!

