@import "../../utilities/vars"
@import "../../utilities/mixins"

/* LINKS */
a
  text-decoration none
  transitions()
  &:hover
    text-decoration none
  &:focus
    text-decoration none
    outline none

.link-up
  position fixed
  right 15px
  bottom 15px
  width 30px
  height 30px
  display flex
  justify-content center
  align-items center
  opacity 0

.link-up.visible
  opacity 1

.link-home
  padding 2px
  display inline-block
  margin 0 8px
  svg g
    fill $black
    transitions()
  &:hover
    svg g
      fill $gray-text7

.link-search
  float right
  position relative
  z-index 10
  padding 2px
  margin: 0 8px;
  display block
  +mobile()
    float left
    margin 0

.link-search.active
  svg g
    fill $black !important

.link-more--wa
  height 14px
  position relative
  margin-bottom 9px
  color $red
  width 32px
  transitions()
  +mobile()
    margin-bottom 15px
  &-text
    position absolute
    right: 150px;
    font-size: .75em
    color $red
    opacity 0
    letter-spacing: 1px;
    min-width 100px
    transition .8s all ease
  &-arrow
    transitions()
    position absolute
    background red
    width: 32px;
    height: 2px
    top: 7px
    right 0
    &:before
      pseudo(block, absolute)
      background $red
      bottom -1px
      right 2px
      width 2px
      height 8px
      transform rotate(-45deg)
      opacity 0
      transitions()
    &:after
      pseudo(block, absolute)
      background $red
      bottom -5px
      right 2px
      width 2px
      height 8px
      transform rotate(45deg)
      opacity 0
      transitions()

.link-share
  float right
  width 196px
  transitions()
  &--top
    width 98px
    height 20x
    float left
    transitions()
    opacity 0
    ul
      display flex
      flex-direction row
      justify-content space-between
      li
        a
          svg
            g
              fill $red
              transitions()
          &:hover
            svg
              g
                fill $black-text
  &--bottom
    width 98px
    height 20x
    font-size .75em
    color $red
    display flex
    align-items center
    float left
    transitions()
    svg
      margin-left 13px
      g
        color $red
  &:hover
    .link-share--bottom
      transform translateX(98px)
      opacity 0
    .link-share--top
      transform translateX(98px)
      opacity 1


+mobile()
  .header-information
    padding-bottom: 50px;

.link-contacts
  color $black
  margin-left 3px
  &:hover
    color $red

.link-map
  color $red
  border-bottom 3px solid $red
  letter-spacing: 1.2px;
  font-size .875em
  display inline-block
  margin 10px 0
  padding-bottom 6px
  +mobile()
    margin-bottom 80px
    font-size 1.25em
  &:hover
    color: $red
    border-color $trans
  &:focus
    color $gray-text2

.link-map.active
  color $gray-text2

.link-discount
  display inline-block
  text-align center
  color $red
  margin-left 33px
  letter-spacing: 1.3px;
  font-size 1em
  font-weight 500
  margin-bottom 40px
  +mobile()
    margin 0 auto 100px
    display: block
    font-size 1.25em
  +portrait()
    margin-bottom 60px
  img
    margin-left 25px
    transitions()
  &:hover
    color $red
    img
      transform translateX(10px)

.link-phone
  color $red
  font-size: 1.75em;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 24px;
  letter-spacing: .1px;
  text-decoration none
  padding 0 10px
  +mobile()
    padding 0
  &:hover
    color $red

