@import '../../utilities/vars'
@import '../../utilities/mixins'

ul
  padding 0
  margin 0
  li
    list-style none

ol
  padding 0
  margin 0
  li {}

.list-two-cols
  li
    flex 1 1 50%
    max-width 50%
    +mobile()
      flex 1 1 100%
      max-width 100%

.list-three-cols
  li
    flex 1 1 33.33333%
    max-width 33.33333%
    +mobile()
      flex 1 1 100%
      max-width 100%