@import '../../utilities/vars'
@import '../../utilities/mixins'

/* HEADERS */

h1
  font(1.5em, $black-text, 600, normal)
  margin-bottom 45px
  +mobile()
    margin-bottom 25px

h1.heading-big
  text-align center
  font-size 2.375em
  font-weight 700
  margin-bottom 0
  +mobile()
    margin-bottom 30px

h1.heading-index
  letter-spacing: 2px;
  text-align left
  font(2.75em, $white, 700, 1.14)
  margin-bottom 0
  +mobile()
    font-size 1.875em

h2
  font(1.75em, $gray-text2, 600, normal)
  text-align: center
  margin-bottom: 43px
  letter-spacing .1px

h3
  font(1.563em, $black-text, 600, 1.2)
  letter-spacing: 1px;
  margin-bottom 15px

h4
  font(1.25em, $black-text, 600, normal)
  position relative
  margin-bottom: 13px
  letter-spacing: 1.1px

h5
  font(.875em, $black-text, 500, 1.6)
  letter-spacing: 1px;
  +mobile()
    font-size .75em

h6
  font(1em, $black-text, 600, 1.7)
  margin-bottom 26px

/* PARAGRAPH */
p
  font(.875em, $black-text, 300, 1.57)

blockquote
  position relative
  font-weight 300
  line-height: 1.57
  padding 60px 100px
  +mobile()
    padding 30px 60px
  &:before
    content '"'
    position absolute
    display block
    color $red
    top 0
    left 0
    font-size 6em
    font-weight 700
  &:after
    font-size 6em
    font-weight 700
    content '"'
    position absolute
    display block
    color $red
    bottom -35px
    right 0

hr
  background  $white
  border:none
  height 2px
  margin 18px 0 37px