@import '../../utilities/vars'
@import '../../utilities/mixins'

/* HEADERS */

h1
  color $black-text
  text-align center
  font-size 2.375em

h1.index-title
  font-size 2.750em
  line-height: 1.14;
  letter-spacing: 2px;
  font-weight 700
  text-align left
  color $white

h2
  font-size: 1.750em
  text-align: center
  color: $gray-text2
  font-weight 500
  margin-bottom 54px
  letter-spacing -.9px
h3
  color $black
  line-height: 1.2;
  letter-spacing: 1px;
  font-size 1.563em
  font-weight 600
  margin-bottom 15px
h4
  font-weight 600
  font-size: 1.25em
  color: $black-text
  margin-bottom: 18px
h5
  font-weight 500
  font-size: .875em
  line-height: 1.65;
  letter-spacing: 0.8px;
  color: $black-text
h6
  font-size 1em
  font-weight 600
  line-height 1.7
  margin-bottom 26px

/* PARAGRAPH */
p
  font(1em, $black, 400, normal)