.article-block
  max-width 263px
  +mobile()
    margin-left 15px
    margin-right 15px
  &--image-container
    height 220px
    overflow hidden
    display flex
    justify-content center
    align-items center
    margin-bottom 12px
    img
      width 100%
  &--title
    h4
      letter-spacing: -0.5px;
      margin-bottom 0
      height 48px
      overflow hidden
      text-align left
