.diplomas
  display flex
  flex-wrap wrap
  li
    margin-bottom 49px
    margin-right 29px
    +mobile()
      flex 1 1 100%
      max-width 100%
      margin-right 0
    img
      +mobile()
        width 100%