.discount
  display block
  position relative
  margin-bottom: 22px;
  +portrait()
    margin-bottom 40px
  +mobile()
    margin-bottom 80px
  &--image-container
    height 220px
    display flex
    justify-content center
    align-items center
    overflow hidden
    img
      height 220px
  &--title
    position absolute
    left 0
    right 0
    bottom 0
    background rgba(26,26,26, .58)
    height 103px
    padding 12px 0 10px 34px
    +tablet()
      padding-left 15px
    p
      color $white
      font-size 1.25em
      letter-spacing: .1px;
      line-height 1.2
      text-align left
  .button-small
    position absolute
    bottom -21px
    background $red
    opacity 0
    left 34px
    right 34px
    max-width calc(100% - 68px)
    width 100%
    +tablet()
      opacity 1
      left 24px
      right 24px
      max-width calc(100% - 48px)
    +portrait()
      opacity 1
    +mobile()
      opacity 1
  &:hover
    .button-small
      opacity 1


.discount-green
  .button-small
    background $green-back


.discount.discount-big
  height 423px
  max-width 263px
  +mobile()
    margin-bottom 40px
    margin-left 5px
    margin-right 5px
  .discount--image-container
    height 400px
    img
      height 100%
  .discount--title
    height 143px
    right 34px
    padding 31px 22px 32px 17px;
    bottom 23px
    .button-small
      opacity 1
      letter-spacing .9px
      right 34px
      max-width: 195px
      font-size 1em
      font-weight 600
      padding 9px 0 12px
      &:hover
        background $gray-back3
    max-width 230px

.discount-article
  display block
  overflow hidden
  transitions()
  margin-bottom 56px
  &--image-container
    height 221px
    overflow hidden
    display flex
    justify-content center
    align-items center
    position relative
    margin-bottom 31px
    &-percent
      background $red
      position absolute
      bottom 0
      left 0
      right 25%
      height 100px
      color $white
      display flex
      align-items center
      justify-content center
      font-weight 600
      font-size 4.75em
      z-index 10
      +tablet()
        font-size 4em
    img
      filter grayscale(100%)
      width: 100%
      transitions()
      +mobile()
        filter grayscale(0)
      +portrait()
        filter grayscale(0)
  &:hover
    .link-more--wa
      width 100%
      .link-more--wa-arrow
        &:before
          opacity 1
        &:after
          opacity 1
      .link-more--wa-text
        opacity 1
        transform translateX(100px)
    .discount-article--image-container
      img
        filter grayscale(0)

.discount-description
  margin-left 50px
  padding-top 56px
  padding-bottom 115px
  +portrait()
    margin-left 0
  +mobile()
    margin-left 0
  h2
    text-align left
    margin-bottom 24px


#discount-row
  text-align center