.filter-container
  margin-bottom 80px
  +portrait()
    margin-bottom 50px
  +mobile()
    margin-bottom 50px
  .filter-container--checkbox
    padding 13px 0
    text-align center
    margin-bottom 2px
    +portrait()
      margin-bottom 0
      padding: 11px 0 7px
  .button-red
    margin-top 10px
    font-weight: 500;
    padding: 12px 0 14px;
    +portrait()
      margin-top 0
      line-height normal
    +mobile()
      margin-top 0
      max-width unset