.filter-container
  margin-bottom 80px
  +portrait()
    margin-bottom 50px
  +mobile()
    margin-bottom 100px
  .filter-container--checkbox
    padding 13px 0
    text-align center
    margin-bottom 2px
    +portrait()
      margin-bottom 0
      padding: 11px 0 7px
  .button-red
    margin-top 10px
    font-weight: 500;
    padding: 12px 0 14px;
    +portrait()
      margin-top 0
      line-height normal
    +mobile()
      margin-top 0
      max-width unset

.filter-calculator.active
  &:after
    opacity 0
    height 0

.filter-calculator
  position relative
  &:after
    pseudo(block, absolute)
    top 0
    right 0
    left 0
    height 100%
    background $gray-back
    z-index 100
    opacity .7
    transitions()
    //
    display none
    //

  .row
    justify-content space-between
    +portrait()
      justify-content flex-start
  .select-container
    margin-bottom 35px
  .chosen-container-single .chosen-single
    padding: 10px 20px 11px;
    font-weight 300
    span
      margin-right 15px
  .chosen-container .chosen-results .active-result, .chosen-container .chosen-results .disabled-result
    padding: 10px 20px 11px;
    font-weight 300
  .chosenImage-container.chosen-container .chosen-results .active-result
    padding: 10px 30px 11px 60px;
    background-position: 20px 8px;
  p
    color $gray-text
    margin-bottom 6px
    font-size .875em
  .small-col.left
      padding-right 4px
      +portrait()
        padding-right 15px
  .small-col.right
      padding-left 4px
      +portrait()
        padding-left 15px
  .filter-colors
    display flex
    justify-content space-between
    flex-direction row
    flex-wrap wrap
    margin-bottom 25px
    +mobile()
      justify-content flex-start
    li
      +mobile()
        margin-right 14px
      +tablet()
        &:last-child
          flex: 1 1 calc(100% - 55px);
          max-width: calc(100% - 55px);
      a
        display block
        width 45px
        height 45px
        background $red
        margin-bottom 10px
        opacity .8
        position relative
        &:after
          pseudo(block, absolute)
          width 45px
          height 45px
          background $trans
          border 3px solid $trans
          z-index 3
          top 0
          left 0
          transitions()
          +mobile()
            width 55px
            height 55px
        +mobile()
          width 55px
          height 55px
        &:hover
          opacity 1
          &:after
            border-color $red
      .active
        opacity 1
        &:after
          border-color $red
  .filter-options
    display flex
    justify-content space-between
    flex-direction row
    flex-wrap wrap
    margin-bottom 10px
    +portrait()
      flex-wrap nowrap
    +mobile()
      justify-content flex-start
    li
      flex 1 1 68px
      max-width 68px
      +portrait()
        flex 1 1 100%
        max-width 100%
      +mobile()
        margin-right: 14px;
      a
        margin-bottom 17px
        display block
        position relative
        +portrait()
          display flex
          flex-direction row
        &:after
          pseudo(block, absolute)
          width 68px
          height 60px
          background $trans
          border 3px solid $trans
          z-index 3
          top 0
          left 0
          transitions()
        img
          margin-bottom 5px
          opacity .8
          transitions()
          width 68px
          height 60px
        p
          font-size 12px
          line-height: 1.17;
          +portrait()
            margin-right 10px
            margin-left 10px
          +mobile()
            word-wrap: break-word;
        &:hover
          border-color: transparent;
          img
            opacity 1
          &:after
            border-color $red
      .active
        img
          opacity 1
        &:after
          border-color $red