body.green
  .button
    &:hover
      background $green-back

  .product
    &:hover
      .button
        background $green-back

  .discount .button-small
    background $green-back

  .icon-container
    .icon-dropdown--link-list
      li
        .active
          color $green-back
          .fa
            color $green-back
        a
          &:hover
            color $green-back
            .fa
              color $green-back

  .discount.discount-big .discount--title .button-small
    background $red

  .button-red
    background $green-back
    &:hover
      background $gray-back3

  .product--image-container-top
    background $green-back

  .intermediate-list li a
    &:hover
      color $green-back
      .fa
        color $green-back

  .filter-calculator .filter-colors li .active:after
    border-color $green-back

  .filter-calculator .filter-colors li a:hover:after
    border-color $green-back

  .filter-calculator .filter-options li a:hover:after
    border-color $green-back

  .filter-calculator .filter-options li .active:after
    border-color $green-back

  .catalogin-price--number
    border-color $green-back

  .catalogin-price--button
    border-color $green-back

  input:focus
    border-bottom-color $green-back