.news-container
  display flex
  background $trans
  margin-bottom 32px
  height 197px
  transitions()
  +displays()
    height 240px
  +mobile()
    flex-wrap wrap
    height auto
  &--image
    height 197px
    flex 1 1 42.6%
    max-width 42.6%
    overflow hidden
    display flex
    justify-content center
    align-items center
    +displays()
      height 240px
    +mobile()
      flex 1 1 100%
      max-width 100%
    img
      width 100%
      filter grayscale(100%)
      transitions()
      +portrait()
        filter none
      +mobile()
        filter none
  &--description
    padding 20px 28px
    flex 1 1 57.4%
    max-width 57.4%
    position relative
    overflow hidden
    +tablet()
      padding 15px 28px
    +mobile()
      padding 25px 0 61px
      flex 1 1 100%
      max-width 100%
    h4
      margin-bottom 8px
      max-height 48px
      overflow hidden
      +portrait()
        max-height 24px
        overflow hidden
        text-overflow ellipsis
        white-space: nowrap;
      +mobile()
        margin-bottom 12px
    p
      color: $gray-text4
      overflow hidden
      max-height 105px
      +tablet()
        max-height 63px
      +portrait()
        max-height 63px
      //+mobile()
      //  margin-bottom 30px
    &-data
      color $red
      font-size .75em
      display flex
      flex-direction row
      flex-wrap nowrap
      position absolute
      bottom 23px
      left 28px
      +tablet()
        bottom 20px
      +portrait()
        bottom 20px
      +mobile()
        left 0
        bottom 33px
      li
        margin-right 45px
        img
          position relative
          top -1px
          margin-right 9px
    .link-more--wa
      transition .6s all ease
  &:hover
    background $white
    +mobile()
      background $trans
    .link-more--wa
      width 100%
      .link-more--wa-arrow
        &:before
          opacity 1
        &:after
          opacity 1
      .link-more--wa-text
        opacity 1
        transform translateX(100px)
    .news-container--image
      img
        filter grayscale(0%)