.project
  .discount-article--image-container
    height 190px
    img
      filter grayscale(100%)
      transitions()
      +mobile()
        filter grayscale(0%)
  &:hover
    .discount-article--image-container
      img
        filter grayscale(0%)
