.tech
  border-left 3px solid $white
  padding 30px 0 12px 17px
  display block
  margin-bottom 30px
  +mobile()
    padding-left 15px
  img
    margin-bottom 21px
    filter grayscale(100%)
    opacity .4
    transitions()
    +portrait()
      opacity 1
      filter none
  p
    line-height: 1.5;
    font-size 0.750em
    color $gray-text6
  &:hover
    img
      filter grayscale(0%)
      opacity 1