.tech
  border-left 3px solid $white
  padding 30px 10px 12px 17px
  display block
  margin-bottom 29px
  +tablet()
    min-height 188px
  +mobile()
    padding-left 15px
  img
    margin-bottom 21px
    filter grayscale(100%)
    opacity .4
    transitions()
    +portrait()
      opacity 1
      filter none
    +mobile()
      opacity 1
      filter none
  p
    font-size 0.750em
    color $gray-text6
  &:hover
    img
      filter grayscale(0%)
      opacity 1

.tech-description
  margin-left 35px
  padding-top 0
  padding-bottom 115px

.advantage
  display flex
  flex-direction row
  flex-wrap wrap
  padding 51px 0
  &--icon
    display block
    flex 1 1 11%
    max-width 11%
    margin-bottom 30px
    img
      max-width 50px
  &--text
    flex 1 1 39%
    max-width 39%
    margin-bottom 30px
    padding-right 20px
    h6
      margin-bottom 10px
