.worker
  position relative
  max-width 166px
  margin-bottom 48px
  &--image-container
    height 166px
    overflow hidden
    display flex
    justify-content center
    align-items center
    margin-bottom 27px
  &--description
    p
      font-weight 300;
      font-size: .875em;
      line-height: 1.57
      margin-bottom 0
    a
      font-weight 300;
      font-size: .875em;
      line-height: 1.57
      color $black
      &:hover
        color $red
