@import '../../utilities/vars'
@import '../../utilities/mixins'

/* SECTIONS AND ARTICLES */
section
  margin-bottom 132px
  position relative
  +mobile()
    margin-bottom 90px

.section-projectin
  padding-top 30px

article
  counter-reset ollist
  .slider-article-big.slick-dotted.slick-slider
    margin-bottom 87px
  .tech
    text-decoration none
    margin-bottom 50px
    height 96px
    padding-top 20px
    padding-bottom 21px
    max-width 180px
    +tablet()
      min-height 96px
    p
      display none
    &:hover
      background $white
    img
      height 54px
      width auto
  p
    margin-bottom 30px
    +mobile()
      margin-bottom 50px
  h2
    text-align left
    margin-bottom: 25px;
    font-weight 500
  img
    margin-bottom 32px
    width 100%
    height: auto;
  ul
    display flex
    flex-wrap wrap
    flex-direction row
    margin-bottom 30px
    li
      line-height: 1.57;
      font-weight 300
      font-size .875em
      position relative
      padding-left 23px
      padding-right 10px
      flex 1 1 100%
      max-width 100%
      &:before
        pseudo(block, absolute)
        width: 10px;
        height: 2px;
        top 8px
        left 0
        background $red
  a
    color $red
    text-decoration underline
    &:hover
      text-decoration none
      color $red
    &:focus
      color $red
  ol
    display flex
    flex-wrap wrap
    flex-direction row
    margin-bottom 30px
    list-style none
    li
      line-height: 1.57;
      font-weight 300
      font-size .875em
      position relative
      padding-left 23px
      padding-right 10px
      flex 1 1 100%
      max-width 100%
      &:before
        pseudo(block, absolute)
        counter-increment: ollist;
        content: counter(ollist) ". ";
        top 0
        left 0
        color $red
  .discount-article
    text-decoration none
  iframe
    width 100%
    height 390px
    +mobile()
      height 300px
  video
    width 100%



main
  background $gray-back
  transitions()
  +mobile()

    position relative
    z-index 100

.container
  +displays()
    width 1170px

.display-flex
  display flex

.hidden-xs
  +mobile()
    display none
.hidden-md
  +portrait()
    display none


.spacer-90
  height 90px
.spacer-120
  height 120px
.spacer-140
  height 140px

.block-center
  margin 0 auto

.back-red
  background $red