@import '../../utilities/vars'
@import '../../utilities/mixins'

/* SECTIONS AND ARTICLES */
section
  margin-bottom 140px
  position relative

article {}

aside {}

main
  background $gray-back
  transitions()
  +mobile()
    position relative
    z-index 100

.container
  +displays()
    width 1170px

.display-flex
  display flex

.hidden-xs
  +mobile()
    display none

.spacer-90
  height 90px
.spacer-120
  height 120px

.block-center
  margin 0 auto