@import "../../utilities/vars"
@import "../../utilities/mixins"

/* FOOTER */
footer
  background $black-back
  padding-top 65px
  margin-top 154px
  h4
    padding-bottom 17px
    color $white
    font-size 1.125em
    &:after
      pseudo(block,absolute)
      background $red
      width: 32px;
      height: 2px;
      bottom 0
      left 0
  p
    font-size: .75em
    line-height: 1.85
    color $gray-text2
    +mobile()
      font-size .875em
  .menu-footer
    margin-bottom 25px
    li
      a
        font-size: .75em
        line-height: 1.83
        color $gray-text2
        +mobile()
          font-size .875em
        &:hover
          color $red
  .address
    a
      display inline-block
      margin 0 4px
      color $gray-text2
      &:hover
        color $red
  .social-links
    display flex
    flex-wrap nowrap
    flex-direction row
    padding 12px 0
    li
      margin-right 20px
      a
        color $black-back
        background $red
        text-align center
        display block
        padding-top 3px
        width: 24px;
        height: 24px;
        border-radius 50%
        +mobile()
          width 34px
          height 34px
          font-size 1.25em
          padding-top 5px
        &:hover
          background $trans
          color $red
  .footer-copyright
    border-top 2px solid $red
    position relative
    margin-top 28px
    justify-content space-between
    padding-top 12px
    //padding-bottom 1px
    &:before
      pseudo(block, absolute)
      width 15px
      background $black-back
      height 2px
      top -2px
      left 0
    &:after
      pseudo(block, absolute)
      width 15px
      background $black-back
      height 2px
      top -2px
      right 0
    p
      +mobile()
        font-size .75em

.copyright
  text-align right
  .volta
    svg
      margin-left 4px
      position relative
      top 3px
      g
        transitions()
        fill $white
    &:hover
      svg g
        fill $red