@import '../../utilities/vars'
@import '../../utilities/mixins'

/* FORMS */
form {}

/* INPUTS */
input
  border: solid 2px $gray-back6;
  transitions()
  line-height: 1.57;
  color $black-text
  margin-bottom 30px
  font-weight 300
  font-size .875em
  padding 16px 30px 19px;
  background $white
  +placeholder()
    color $gray-text
  &:focus
    outline none
    border-color $gray-back6
    border-bottom-color $red

input[type='checkbox']
  visibility hidden
  margin-bottom 0

input[type='checkbox'] + label
  color $black-text
  font-size 1em
  position relative
  &:after
    pseudo(block, absolute)
    width 20px
    height 20px
    background $trans
    border $gray-back3 3px solid
    top 0
    left -36px
  &:before
    pseudo(block, absolute)
    background url('../img/icons/checked.svg') center no-repeat
    width 16px
    height 21px
    background-size cover
    z-index 2
    left -32px
    bottom 4px
    opacity 0
    transitions .1s opacity ease

input[type='checkbox']:checked + label
  &:before
    opacity 1

textarea
  resize none
  border: solid 2px $gray-back6;
  width 100%
  line-height: 1.57;
  color $black-text
  margin-bottom 30px
  font-weight 300
  font-size .875em
  padding 16px 30px 19px
  background $white
  min-height 184px
  transitions()
  +placeholder()
    color $gray-text
  &:focus
    outline none
    border-color $gray-back6
    border-bottom-color $red

textarea.error, input.error
  border-color $red

label {}

.form-send
  display flex
  justify-content space-between
  flex-direction row
  flex-wrap wrap
  +mobile()
    .button
      max-width unset
  input
    flex 1 1 48%
    max-width 48%
    +mobile()
      flex 1 1 100%
      max-width 100%

.send-visible
  display block

.send-hidden
  display none
  +mobile()
    .button
      max-width unset
  &--icon
    padding 45px 0 122px
    text-align center
    p
      font-size 1.25em
      font-weight 300
      line-height 1.57
      color $gray-text2
    img
      margin-bottom: 11px;
