@import '../../utilities/vars'
@import '../../utilities/mixins'

/* HEADER */
header
  padding-top 30px
  padding-bottom 19px
  position relative
  +displays()
    min-height 457px
  .header-jumbotron
    color $gray-text3
    position: relative;
    +portrait()
      position static
      margin-bottom 35px
    +mobile()
      position static
      margin-bottom 35px

.header-business
  .breadcrumbs
    margin-bottom: 25px;
  .header-image
    position: relative;
    left: -20px;
    max-height: 314px;
    top: -14px;
    +tablet()
      max-width 100%
    +portrait()
      position static
      display block
      margin 0 auto 30px
    +mobile()
      max-width 100%
      position static

.header-with-video
  height 631px
  padding-top 0
  overflow hidden
  z-index: 1
  .row
    height 631px
    position relative
    z-index 10
  &:after
    pseudo(block, absolute)
    top 0
    left 0
    right 0
    bottom 0
    width 100%
    background $black-back2
    opacity: 0.7;
  .header-video
    display block
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    width 100%
    +tablet()
      height 100%
      width auto
    +portrait()
      height 100%
      width auto
    +mobile()
      height 100%
      width auto




//h4
.header-regular
  height: 294px;
  min-height auto
  +mobile()
    height auto
  +portrait()
    height auto
    margin-bottom 31px
  h4
    margin-bottom 30px
  .counter
    &-text
      font-size 1em
      line-height: 1.38;

.header-discount
  height 343px
  min-height auto
  overflow hidden
  padding-bottom 0
  +portrait()
    height auto
  +mobile()
    height auto

.header-tech
  min-height auto
  padding-bottom 0
  height auto
  margin-bottom 60px
  img
    width 100%
  h1
    margin-bottom 24px

.header-text
  max-height 155px
  overflow hidden
  +portrait()
    max-height unset
  +mobile()
    max-height unset

.header-information
  height auto
  &--image
    overflow hidden
    display flex
    justify-content center
    align-items center
    height 250px
    margin-bottom 32px
    img
      min-width 100%
      +mobile()
        min-width unset
  &--data
    display flex
    flex-direction row
    flex-wrap nowrap
    +mobile()
      margin-top 2px
    li
      color $red
      font-size .75em
      margin-right 45px
      +mobile()
        margin-right 15px
      img
        position relative
        top -1px
        margin-right 10px

.header-contacts
  margin-bottom 49px

.header-catalog
  height 216px
  +mobile()
    height auto
