.pagination
  display flex
  flex-direction row
  flex-wrap nowrap
  padding 4px 0
  margin-bottom 21px
  +portrait()
    justify-content center
    margin-bottom 40px
  +mobile()
    justify-content space-between
    margin-bottom 80px
  li
    margin 0 8px
    +mobile()
      margin 0
    &:first-child
      margin-left 0
      margin-right 60px
      +mobile()
        margin 0
      &:hover
        a
          transform translateX(-10px)
    &:last-child
      margin-right 0
      margin-left 60px
      +mobile()
        margin 0
      &:hover
        a
          transform translateX(10px)
    a
      color $gray-back3
      letter-spacing: 0.7px;
      font-size 1.125em
      display block
      font-weight 600
      &:hover
        color $red
    .active
      color $red

.pagination-project
  display flex
  flex-direction row
  justify-content space-between
  flex-wrap nowrap
  +portrait()
    margin-bottom 50px
  +mobile()
    margin-bottom 50px
  li
    padding 0
    &:before
      display none
    img
      width 33px
      margin 0
      transitions()
    &:first-child
      flex 1 1 30%
      max-width 30%
      a
        &:hover
          img
            transform translateX(-10px)
    &:last-child
      flex 1 1 70%
      max-width 70%
      a
        float right
        color $red
        letter-spacing: 0.6px;
        font-weight 600
      &:hover
        img
          transform translateX(10px)
      img
        margin-left 50px
        +mobile()
          margin-left 15px
