@import '../../utilities/vars'
@import '../../utilities/mixins'

/* TABLES */
table
  width 100%
  margin-bottom 43px
  thead {}
  tbody {}
  tfoot {}
  caption {}
  tr
    border-bottom 2px solid $white
    width 100%
  th
    color $gray-text2
    line-height: 2.18;
    font-size 1.625em
    font-weight 300
    +mobile()
      line-height normal
    &:first-child
      width 78%
    &:last-child
      width 22%
      text-align center
  td
    color $black-text
    line-height: 2.18;
    font-size .875em
    font-weight 300
    &:first-child
      width 78%
    &:last-child
      width 22%
      text-align center

//+keyframes(namean)
//  0%
//    opacity 1
//  100%
//    opacity 0
//
//table
//  animations(namean, 5s)