//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | ВОРОТА.РУ - О компании. Партнеры

block content

    header.header-regular
        .container
            .row
                .col-12
                    ul.breadcrumbs
                        li
                            a(href='index.html' title='') Главная
                        li
                            a(href='about1.html' title='') О компании
                        li
                            a(href='about3.html' title='') Партнеры
                .col-md-4.col-lg-3
                    h1 О компании
                .offset-md-1.col-md-7.offset-lg-2
                    .header-text
                        p Широкая гамма продукции представлена моделями, разработанными с учетом высоких технических требований к оборудованию, связанных с повышенной интенсивностью его использования и с большими размерами ворот.

    section.tabs-section
        .container
            .row.justify-content-center
                .col-lg-10.col-xl-8
                    ul.tabs
                        li
                            a(href='about1.html' title='') Ключевые сотрудники
                        li
                            a(href='about2.html' title='') Наши работы
                        li
                            a(href='about3.html' title='').active Партнеры
                        li
                            a(href='about4.html' title='') Награды


    section
        .container
            .row
                aside.col-lg-3#discount-col
                    .row#discount-row
                        .col-md-6.col-lg-12
                            include partials/_discount-slider
                .col-lg-9#product-col
                    .row.justify-content-center
                        .col-12
                            ul.partners-list.list-three-cols
                                li ЗАО «Алроса»
                                li ЗАО «Лензолото»
                                li ЗАО Иркутсклесстррой»
                                li ЗАО «Байкалбизнечсцентр»
                                li ЗАО «Востсибстройпроект»
                                li ЗАО «Иркут БТК»
                                li ЗАО «Иркутский завод розлива минеральных вод»
                                li ЗАО «ИПСК»
                                li ЗАО «Иркутскпищепром»
                                li ЗАО «Иркутскпромстрой»
                                li ЗАО «Иркутскстройинвест»
                                li ЗАО «Труд»
                                li ОАО «Новый Город»
                                li ОАО «Иркутск-Суал»
                                li ОАО «Ангарское Упаравление Строительства»
                                li ОАО «АЭХК»
                                li ОАО «Иркутск-Автоваз»
                                li ОАО «Иркутскпромстрой»
                                li ОАО НПК «Иркут»
                                li ОАО «Балтика»
                                li ОАО «РЖД»
                                li ОАО «Иркутский хладокомбинат»
                                li ООО «Агат-Авто»
                                li ООО «Иркут-Ремстрой»
                                li ООО «РЦ Микрохирургия»
                                li ООО «Кузьмиха-Сервис»
                                li ООО «Мицубиси- Центр»
                                li сеть магазинов «Бонус»
                                li сеть магазинов «ОКей»
                                li сеть магазинов «Цезарь»
                                li сеть магазинов «Амик КЭШ ЭНД КЭРРИ»
                                li ОГПС МЧС России г. Иркутск
                            .spacer-120
                        .col-lg-11
                            .partner
                                .partner--description
                                    a(href='' title='') ООО «Россо Моторс»
                                    p Официальный дилер Volkswagen в г. Иркутске – ООО  ООО «Россо Моторс», открыт в 2006 году. Дилерский центр входит в состав Автохолдинга «Россо». Предоставляет весь спектр услуг, связанных с приобретением и обслуживанием легковых и коммерческих автомобилей Volkswagen.
                                    p Выбрали компанию Ворота.ру, как самого лучшего поставщика автоматических ворот и входных секций в Иркутской обл.  Потому что важно качество.
                                .partner--logo
                                    img(src='img/partners/logo1.png' title='' alt='')
                            .partner
                                .partner--description
                                    a(href='' title='') ООО «Россо Моторс»
                                    p Официальный дилер Volkswagen в г. Иркутске – ООО  ООО «Россо Моторс», открыт в 2006 году. Дилерский центр входит в состав Автохолдинга «Россо». Предоставляет весь спектр услуг, связанных с приобретением и обслуживанием легковых и коммерческих автомобилей Volkswagen.
                                    p Выбрали компанию Ворота.ру, как самого лучшего поставщика автоматических ворот и входных секций в Иркутской обл.  Потому что важно качество.
                                .partner--logo
                                    img(src='img/partners/logo2.png' title='' alt='')
                            .partner
                                .partner--description
                                    a(href='' title='') ООО «Россо Моторс»
                                    p Официальный дилер Volkswagen в г. Иркутске – ООО  ООО «Россо Моторс», открыт в 2006 году. Дилерский центр входит в состав Автохолдинга «Россо». Предоставляет весь спектр услуг, связанных с приобретением и обслуживанием легковых и коммерческих автомобилей Volkswagen.
                                    p Выбрали компанию Ворота.ру, как самого лучшего поставщика автоматических ворот и входных секций в Иркутской обл.  Потому что важно качество.
                                .partner--logo
                                    img(src='img/partners/logo3.png' title='' alt='')
                            .partner
                                .partner--description
                                    a(href='' title='') ООО «Россо Моторс»
                                    p Официальный дилер Volkswagen в г. Иркутске – ООО  ООО «Россо Моторс», открыт в 2006 году. Дилерский центр входит в состав Автохолдинга «Россо». Предоставляет весь спектр услуг, связанных с приобретением и обслуживанием легковых и коммерческих автомобилей Volkswagen.
                                    p Выбрали компанию Ворота.ру, как самого лучшего поставщика автоматических ворот и входных секций в Иркутской обл.  Потому что важно качество.
                                .partner--logo
                                    img(src='img/partners/logo4.png' title='' alt='')
                            .partner
                                .partner--description
                                    a(href='' title='') ООО «Россо Моторс»
                                    p Официальный дилер Volkswagen в г. Иркутске – ООО  ООО «Россо Моторс», открыт в 2006 году. Дилерский центр входит в состав Автохолдинга «Россо». Предоставляет весь спектр услуг, связанных с приобретением и обслуживанием легковых и коммерческих автомобилей Volkswagen.
                                    p Выбрали компанию Ворота.ру, как самого лучшего поставщика автоматических ворот и входных секций в Иркутской обл.  Потому что важно качество.
                                .partner--logo
                                    img(src='img/partners/logo5.png' title='' alt='')
                            .partner
                                .partner--description
                                    a(href='' title='') ООО «Россо Моторс»
                                    p Официальный дилер Volkswagen в г. Иркутске – ООО  ООО «Россо Моторс», открыт в 2006 году. Дилерский центр входит в состав Автохолдинга «Россо». Предоставляет весь спектр услуг, связанных с приобретением и обслуживанием легковых и коммерческих автомобилей Volkswagen.
                                    p Выбрали компанию Ворота.ру, как самого лучшего поставщика автоматических ворот и входных секций в Иркутской обл.  Потому что важно качество.
                                .partner--logo
                                    img(src='img/partners/logo6.png' title='' alt='')

