//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | ВОРОТА.РУ - Каталог

block content

    header.header-regular
        .container
            .row
                .col-12
                    ul.breadcrumbs
                        li
                            a(href='index.html' title='') Главная
                        li
                            a(href='catalog.html' title='') Каталог
                        li
                            a(href='catalog.html' title='') Автоматика для распашны ворот
                .col-md-4.col-lg-3
                    h1 Автоматика для распашных ворот
                .offset-md-1.col-xl-5.col-lg-6.col-md-7.offset-lg-2
                    .header-text
                        .counter
                            ul.counter-numbers
                                li 6
                                li 5
                                li 2
                                li 1
                            .counter-text
                                | Покупатели выбрали гаражные секционные ворота от Ворота.ру

    section
        .container
            .row
                aside.col-lg-3#discount-col
                    form.filter-container
                        .row.justify-content-lg-between
                            .col-md-4.col-lg-12
                                .select-container
                                    select.chosen-select
                                        option Производитель
                                        option Производитель
                                        option Производитель
                            .col-md-4.col-lg-12
                                .select-container
                                    select.chosen-select(data-placeholder="По технологиям..." multiple class="chosen-select")
                                        option Технология Сейф Хон
                                        option Технологии Жлобозига
                                        option Технологии Ф1 Тех
                                        option Технологии ЗЯВ1 Тех
                            .col-md-4.col-lg-12
                                .select-container
                                    select.chosen-select
                                        option От дешевых к дорогим
                                        option От дешевых к дорогим
                                        option От дешевых к дорогим
                            .col-md-4.col-lg-12
                                .filter-container--checkbox
                                    input(type='checkbox' name='discount-items' id='discount-items')
                                    label(for='discount-items') Акционные товары
                            .col-md-4.col-lg-12
                                button(type='submit').button.button-red ПОИСК
                    .row#discount-row
                        .col-12
                            include partials/_discount-slider
                            include partials/_articles-slider
                .col-lg-9#product-col
                    .row
                        .col-md-6.col-lg-4
                            a(href='' title='').product
                                .product--image-container
                                    .product--image-container-top Топ
                                    img(src='img/illus/business.png' title='' alt='')
                                h3 Гаражные секционные ворота
                                p Cтворка до 2.5м. Самоблокирующийся привод.
                                ul.product--tech
                                    li
                                        img(src='img/techs/small/tech1.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech2.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech3.svg' title='' alt='')
                                span.button 16 000 руб
                        .col-md-6.col-lg-4
                            a(href='' title='').product
                                .product--image-container
                                    .product--image-container-top Топ
                                    img(src='img/products/product1.png' title='' alt='')
                                h3 Гаражные секционные ворота
                                p Cтворка до 2.5м. Самоблокирующийся привод.
                                ul.product--tech
                                    li
                                        img(src='img/techs/small/tech1.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech2.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech3.svg' title='' alt='')
                                span.button 16 000 руб
                        .col-md-6.col-lg-4
                            a(href='' title='').product
                                .product--image-container
                                    .product--image-container-top Топ
                                    img(src='img/products/product3.png' title='' alt='')
                                h3 Гаражные секционные ворота
                                p Cтворка до 2.5м. Самоблокирующийся привод.
                                ul.product--tech
                                    li
                                        img(src='img/techs/small/tech1.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech2.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech3.svg' title='' alt='')
                                span.button 16 000 руб
                        .col-md-6.col-lg-4
                            a(href='' title='').product
                                .product--image-container
                                    img(src='img/illus/business.png' title='' alt='')
                                h3 Гаражные секционные ворота
                                p Cтворка до 2.5м. Самоблокирующийся привод.
                                ul.product--tech
                                    li
                                        img(src='img/techs/small/tech1.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech2.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech3.svg' title='' alt='')
                                span.button 16 000 руб
                        .col-md-6.col-lg-4
                            a(href='' title='').product
                                .product--image-container
                                    img(src='img/products/product1.png' title='' alt='')
                                h3 Гаражные секционные ворота
                                p Cтворка до 2.5м. Самоблокирующийся привод.
                                ul.product--tech
                                    li
                                        img(src='img/techs/small/tech1.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech2.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech3.svg' title='' alt='')
                                span.button 16 000 руб
                        .col-md-6.col-lg-4
                            a(href='' title='').product
                                .product--image-container
                                    img(src='img/products/product3.png' title='' alt='')
                                h3 Гаражные секционные ворота
                                p Cтворка до 2.5м. Самоблокирующийся привод.
                                ul.product--tech
                                    li
                                        img(src='img/techs/small/tech1.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech2.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech3.svg' title='' alt='')
                                span.button 16 000 руб
                        .col-md-6.col-lg-4
                            a(href='' title='').product
                                .product--image-container
                                    img(src='img/illus/business.png' title='' alt='')
                                h3 Гаражные секционные ворота
                                p Cтворка до 2.5м. Самоблокирующийся привод.
                                ul.product--tech
                                    li
                                        img(src='img/techs/small/tech1.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech2.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech3.svg' title='' alt='')
                                span.button 16 000 руб
                        .col-md-6.col-lg-4
                            a(href='' title='').product
                                .product--image-container
                                    img(src='img/products/product1.png' title='' alt='')
                                h3 Гаражные секционные ворота
                                p Cтворка до 2.5м. Самоблокирующийся привод.
                                ul.product--tech
                                    li
                                        img(src='img/techs/small/tech1.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech2.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech3.svg' title='' alt='')
                                span.button 16 000 руб
                        .col-md-6.col-lg-4
                            a(href='' title='').product
                                .product--image-container
                                    img(src='img/products/product3.png' title='' alt='')
                                h3 Гаражные секционные ворота
                                p Cтворка до 2.5м. Самоблокирующийся привод.
                                ul.product--tech
                                    li
                                        img(src='img/techs/small/tech1.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech2.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech3.svg' title='' alt='')
                                span.button 16 000 руб
                        .col-md-6.col-lg-4
                            a(href='' title='').product
                                .product--image-container
                                    img(src='img/illus/business.png' title='' alt='')
                                h3 Гаражные секционные ворота
                                p Cтворка до 2.5м. Самоблокирующийся привод.
                                ul.product--tech
                                    li
                                        img(src='img/techs/small/tech1.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech2.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech3.svg' title='' alt='')
                                span.button 16 000 руб
                        .col-md-6.col-lg-4
                            a(href='' title='').product
                                .product--image-container
                                    img(src='img/products/product1.png' title='' alt='')
                                h3 Гаражные секционные ворота
                                p Cтворка до 2.5м. Самоблокирующийся привод.
                                ul.product--tech
                                    li
                                        img(src='img/techs/small/tech1.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech2.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech3.svg' title='' alt='')
                                span.button 16 000 руб
                        .col-md-6.col-lg-4
                            a(href='' title='').product
                                .product--image-container
                                    img(src='img/products/product3.png' title='' alt='')
                                h3 Гаражные секционные ворота
                                p Cтворка до 2.5м. Самоблокирующийся привод.
                                ul.product--tech
                                    li
                                        img(src='img/techs/small/tech1.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech2.svg' title='' alt='')
                                    li
                                        img(src='img/techs/small/tech3.svg' title='' alt='')
                                span.button 16 000 руб

                    include partials/_pagination

