//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | ВОРОТА.РУ - О компании. Партнеры

block content

    header.header-information
        .container
            .row
                .col-12
                    ul.breadcrumbs
                        li
                            a(href='index.html' title='') Главная
                        li
                            a(href='about5.html' title='') О компании
                        li
                            a(href='' title='') Комментарий
                .col-12
                    h1 Программирование брелоков
                    .header-information--image
                        img(src='img/illus/header-photo.png' title='' alt='')
                .col-7
                    ul.header-information--data
                        li 7.06.2017
                        li
                            img(src='img/icons/eye.svg' title='' alt='' onerror='this.src="img/icons/eye.png"')
                            | 112
                .col-5
                    a(href='' title='').link-share Поделиться
                        svg(width='16px', height='16px', viewbox='0 0 16 16', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                g#10-Information-In(transform='translate(-1204.000000, -545.000000)', fill-rule='nonzero', fill='#F52341')
                                    g#noun_17232_cc(transform='translate(1204.000000, 545.000000)')
                                        g#Group
                                            path#Shape(d='M9.59216781,2.29536 L11.9497124,2.29536 C10.3181348,3.94421333 8.19097969,6.07077333 5.56824702,8.67504 L7.16000939,10.31344 C9.7890787,7.70298667 11.922412,5.57029333 13.5600094,3.91536 L13.6213163,3.85376 L13.6213163,5.97344 L15.8937916,5.97344 L15.8937916,0 L9.59216781,0 L9.59216781,2.29536 Z')
                                            polygon#Shape(points='13.7918416 10.95216 13.7918416 13.92 2.05940594 13.92 1.95724814 2.15214853 5.83843626 2.15214853 5.83843626 0.0721485295 6.08399695e-13 0.0721485295 2.47801779e-13 16 15.8512475 16 15.8512475 10.95216')

    article
        .container
            .row
                .col-12
                    .row.justify-content-center
                        .col-md-10.col-xl-8
                            h2 Заголовок 1
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах
                            //.img-gallery
                            //    a(href='img/news/news1.png' title='').img-item
                            //        img(src='img/news/news1.png' title='' alt='')
                            //    a(href='img/news/news2.png' title='').img-item
                            //        img(src='img/news/news2.png' title='' alt='')
                            //    a(href='img/news/news3.png' title='').img-item
                            //        img(src='img/news/news3.png' title='' alt='')
                            img(src='img/news/news1.png' title='' alt='')
                            img(src='img/news/news2.png' title='' alt='')
                            img(src='img/news/news3.png' title='' alt='')
                            h2 Заголовок 2
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах
                                a(href='' title='') просто ссылка

                            ul.list-three-cols
                                li ЗАО «Алроса»
                                li ЗАО «Лензолото»
                                li ЗАО Иркутсклесстррой»
                                li ЗАО «Байкалбизнечсцентр»
                                li ЗАО «Востсибстройпроект»
                                li ЗАО «Иркут БТК»
                                li ЗАО «Иркутский завод розлива минеральных вод»
                                li ЗАО «ИПСК»
                                li ЗАО «Иркутскпищепром»
                                li ЗАО «Иркутскпромстрой»
                                li ЗАО «Иркутскстройинвест»
                                li ЗАО «Труд»
                                li ОАО «Новый Город»
                                li ОАО «Иркутск-Суал»
                                li ОАО «Ангарское Упаравление Строительства»
                                li ОАО «АЭХК»
                                li ОАО «Иркутск-Автоваз»
                                li ОАО «Иркутскпромстрой»
                                li ОАО НПК «Иркут»
                                li ОАО «Балтика»
                                li ОАО «РЖД»
                                li ОАО «Иркутский хладокомбинат»
                                li ООО «Агат-Авто»
                                li ООО «Иркут-Ремстрой»
                                li ООО «РЦ Микрохирургия»
                                li ООО «Кузьмиха-Сервис»
                                li ООО «Мицубиси- Центр»
                                li сеть магазинов «Бонус»
                                li сеть магазинов «ОКей»
                                li сеть магазинов «Цезарь»
                                li сеть магазинов «Амик КЭШ ЭНД КЭРРИ»
                                li ОГПС МЧС России г. Иркутск

                            ol.list-two-cols
                                li ЗАО «Алроса»
                                li ЗАО «Лензолото»
                                li ЗАО Иркутсклесстррой»
                                li ЗАО «Байкалбизнечсцентр»
                                li ЗАО «Востсибстройпроект»
                                li ЗАО «Иркут БТК»

                            h2 Заголовок 3
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах

                            img(src='img/news/news2.png' title='' alt='')
                            blockquote
                                | Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                            h2 Заголовок 4
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах

