//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Главная страница

block content

    header.header-regular
        .container
            .row
                .col-12
                    ul.breadcrumbs
                        li
                            a(href='' title='') Главная
                        li
                            a(href='' title='') Информация
                .col-md-4.col-lg-3
                    h1 Информация
                .offset-md-1.col-md-7.offset-lg-2
                    p Широкая гамма продукции представлена моделями, разработанными с учетом высоких технических требований к оборудованию, связанных с повышенной интенсивностью его использования и с большими размерами ворот.

    section
        .container
            .row
                .col-lg-3#discount-col
                    form.filter-container
                        .row.justify-content-between
                            .col-md-4.col-lg-12
                                .select-container
                                    select.chosen-select
                                        option По дате
                                        option По дате
                                        option По дате
                            .col-md-4.col-lg-12
                                .select-container
                                    select.chosen-select
                                        option По приметам
                                        option Производитель
                                        option Производитель
                            .col-md-4.col-lg-12
                                button(type='submit').button.button-red ПОИСК
                    .row#discount-row
                        .col-12
                            include partials/_discount-slider
                .col-lg-9#product-col
                    a(href='' title='').news-container
                        .news-container--image
                            img(src='img/illus/news1.png' title='' alt='')
                        .news-container--description
                            h4 Программирование брелков хороших и плохих, дешевых и прекрасных
                            .link-more--wa
                                .link-more--wa-text Читать больше
                                .link-more--wa-arrow
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал […]
                            ul.news-container--description-data
                                li 7.06.2017
                                li
                                    img(src='img/icons/eye.svg' title='' alt='' onerror='this.src="img/icons/eye.png"')
                                    | 112
                    a(href='' title='').news-container
                        .news-container--image
                            img(src='img/illus/news1.png' title='' alt='')
                        .news-container--description
                            h4 Программирование брелков
                            .link-more--wa
                                .link-more--wa-text Читать больше
                                .link-more--wa-arrow
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал […]
                            ul.news-container--description-data
                                li 7.06.2017
                                li
                                    img(src='img/icons/eye.svg' title='' alt='' onerror='this.src="img/icons/eye.png"')
                                    | 112
                    a(href='' title='').news-container
                        .news-container--image
                            img(src='img/illus/news1.png' title='' alt='')
                        .news-container--description
                            h4 Программирование брелков хороших и плохих, дешевых и прекрасных
                            .link-more--wa
                                .link-more--wa-text Читать больше
                                .link-more--wa-arrow
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал […]
                            ul.news-container--description-data
                                li 7.06.2017
                                li
                                    img(src='img/icons/eye.svg' title='' alt='' onerror='this.src="img/icons/eye.png"')
                                    | 112
                    a(href='' title='').news-container
                        .news-container--image
                            img(src='img/illus/news1.png' title='' alt='')
                        .news-container--description
                            h4 Программирование брелков
                            .link-more--wa
                                .link-more--wa-text Читать больше
                                .link-more--wa-arrow
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал […]
                            ul.news-container--description-data
                                li 7.06.2017
                                li
                                    img(src='img/icons/eye.svg' title='' alt='' onerror='this.src="img/icons/eye.png"')
                                    | 112
                    a(href='' title='').news-container
                        .news-container--image
                            img(src='img/illus/news1.png' title='' alt='')
                        .news-container--description
                            h4 Программирование брелков хороших и плохих, дешевых и прекрасных
                            .link-more--wa
                                .link-more--wa-text Читать больше
                                .link-more--wa-arrow
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал […]
                            ul.news-container--description-data
                                li 7.06.2017
                                li
                                    img(src='img/icons/eye.svg' title='' alt='' onerror='this.src="img/icons/eye.png"')
                                    | 112
                    a(href='' title='').news-container
                        .news-container--image
                            img(src='img/illus/news1.png' title='' alt='')
                        .news-container--description
                            h4 Программирование брелков
                            .link-more--wa
                                .link-more--wa-text Читать больше
                                .link-more--wa-arrow
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал […]
                            ul.news-container--description-data
                                li 7.06.2017
                                li
                                    img(src='img/icons/eye.svg' title='' alt='' onerror='this.src="img/icons/eye.png"')
                                    | 112
                    a(href='' title='').news-container
                        .news-container--image
                            img(src='img/illus/news1.png' title='' alt='')
                        .news-container--description
                            h4 Программирование брелков хороших и плохих, дешевых и прекрасных
                            .link-more--wa
                                .link-more--wa-text Читать больше
                                .link-more--wa-arrow
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал […]
                            ul.news-container--description-data
                                li 7.06.2017
                                li
                                    img(src='img/icons/eye.svg' title='' alt='' onerror='this.src="img/icons/eye.png"')
                                    | 112
                    a(href='' title='').news-container
                        .news-container--image
                            img(src='img/illus/news1.png' title='' alt='')
                        .news-container--description
                            h4 Программирование брелков
                            .link-more--wa
                                .link-more--wa-text Читать больше
                                .link-more--wa-arrow
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал […]
                            ul.news-container--description-data
                                li 7.06.2017
                                li
                                    img(src='img/icons/eye.svg' title='' alt='' onerror='this.src="img/icons/eye.png"')
                                    | 112
                    a(href='' title='').news-container
                        .news-container--image
                            img(src='img/illus/news1.png' title='' alt='')
                        .news-container--description
                            h4 Программирование брелков
                            .link-more--wa
                                .link-more--wa-text Читать больше
                                .link-more--wa-arrow
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал […]
                            ul.news-container--description-data
                                li 7.06.2017
                                li
                                    img(src='img/icons/eye.svg' title='' alt='' onerror='this.src="img/icons/eye.png"')
                                    | 112
                    .row
                        .offset-lg-2.col-lg-10
                            ul.pagination
                                li
                                    a(href='' title='')
                                        img(src='img/icons/arrow-left.svg' title='' alt='' onerror='this.src="img/icons/arrow-left.png"')
                                li
                                    a(href='' title='').active 1
                                li
                                    a(href='' title='') 2
                                li
                                    a(href='' title='') 3
                                li
                                    a(href='' title='') 4
                                li
                                    a(href='' title='') ...
                                li
                                    a(href='' title='')
                                        img(src='img/icons/arrow-right.svg' title='' alt='' onerror='this.src="img/icons/arrow-right.png"')

