//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | ВОРОТА.РУ - Акции

block content

    header.header-discount
        .container
            .row
                .col-12
                    ul.breadcrumbs
                        li
                            a(href='index.html' title='') Главная
                        li
                            a(href='discounts.html' title='') Сервис и гарантия
                .col-lg-3
                    h1 Сервис и гарантия
                .col-lg-9
                    .img-header
                        img(src='img/illus/service-head3.png' title='' alt='')

    section
        .container
            .row
                aside.col-lg-3#discount-col
                    .row#discount-row
                        .col-12
                            include partials/_discount-slider
                .col-lg-9#product-col
                    .service-description
                        .service-block
                            .row
                                .col-md-7
                                    h2 Сервисное обслуживание
                                .col-md-5
                                    a(href='tel:' title='').link-phone Тел. 72-73-00
                                .col-md-7
                                    p Регулировка ворот в Иркутске 1100-2700 руб. Вызов с 09.00 до 18.00. К стоимости услуг за чертой города добавляется цена вызова специалиста:
                                .col-md-5
                                    a(href='' title='').button.button-red.button-all Заказать обслуживание
                            .row
                                .col-12
                                    a(href='' title='').service-accordion Расценки на сервисное обслуживание
                                        i.fa.fa-angle-down
                                .col-12.service-accordion--panel
                                    table
                                        tr
                                            th Населенный пункт
                                            th Цена (руб)
                                        tr
                                            td Ангарск
                                            td 1900
                                        tr
                                            td Усолье-Сибирское
                                            td 1900
                                        tr
                                            td Черемхово
                                            td 1900
                                        tr
                                            td Байкальский тракт
                                            td 1900
                                        tr
                                            td.td-with-padding Патроны
                                            td 1900
                                        tr
                                            td.td-with-padding Зеленый мыс
                                            td 1900
                                        tr
                                            td.td-with-padding Бурдаковка
                                            td 1900
                                        tr
                                            td.td-with-padding Большая Речка
                                            td 1900
                                        tr
                                            td.td-with-padding Листвянка
                                            td 1900
                                        tr
                                            td Пивовариха
                                            td 1900
                                        tr
                                            td Шелехов
                                            td 1900
                                        tr
                                            td Мельничная падь
                                            td 1900
                                        tr
                                            td Слюдянка
                                            td 1900
                                        tr
                                            td Бохан
                                            td 1900
                                        tr
                                            td Оса
                                            td 1900
                                        tr
                                            td Урик, Хомутово, Западный
                                            td 1900

                                    p Регулировка ворот в Иркутске 1100-2700 руб. Вызов с 09.00 до 18.00
                                        br
                                        | К стоимости услуг за чертой города добавляется цена вызова специалиста:
                                    hr
                                    h2.black В стоимости вызова включено
                                    p Программирование брелков;
                                            br
                                            | Настройка оборудования (с/в, р/в, о/в, а/д, шлагбаум);
                                            br
                                            | Оценка поломки оборудования (с/в, р/в, о/в, а/д, шлагбаум);
                                            br
                                            | Регулировка оборудования (с/в, р/в, о/в, а/д, шлагбаум);
                                            br
                                            | Смазка оборудования (с/в, о/в, р/в, шлагбаум).


                    article.service-description.last
                        .row
                            .col-lg-11
                                h2 Срочный ремонт ворот в экстренных случаях
                                p Если ворота заклинило, наблюдаются неполадки с открытием/закрытием. Обслуживаем ворота, в том числе, и сторонних производителей. Производим диагностику, регулировку и квалифицированный ремонт автоматических ворот.

                                .service-block.wired
                                    .row.justify-content-center
                                        .col-md-6.col-lg-7.wired-col
                                            h3 Аварийный вызов
                                        .col-md-6.col-lg-5.back-red
                                            a(href='' title='').link-wired Тел. 403-911


                                p
                                    span.red *
                                    |  Выезд в течении 1 часа 2 900 р. в черте города

