@import '../utilities/vars'
@import '../utilities/mixins'
@import 'partials/section'
@import 'partials/icondrop'
@import 'partials/intermediate'
@import 'partials/product'
@import 'partials/discount'
@import 'partials/techs'
@import 'partials/choice'
@import 'partials/news'
@import 'partials/filter'
@import 'partials/article'
@import 'partials/project'
@import 'partials/counter'
@import 'partials/tabs'
@import 'partials/workers'
@import 'partials/partners'
@import 'partials/diplomas'
@import 'partials/map'
@import 'partials/catalogin'
@import 'partials/service'
@import 'partials/calc'
@import 'partials/search'
@import 'partials/green'