$black = #000000
$white = #ffffff
$trans = transparent

$red = #f52341

$gray-text = #a9a9a9
$gray-text2 = #b1b1b1
$gray-text3 = #333333
$gray-text4 = #727272
$gray-text5 = #dddddd
$gray-text6 = #525252
$gray-text7 = #979797

$black-text = #2f2f2f

$gray-back = #f1f1f1
$gray-back2 = #ababab
$gray-back3 = #CECECE
$gray-back4 = #E1E1E1
$gray-back5 = #D5D5D5
$gray-back6 = #d8d8d8

$black-back = #202321
$black-back2 = #272727

$green-back = #33BE30


//$main-font = "Cera"
//$main-font = "Circe"
//$main-font = "Comfortaa"
//$main-font = "DejaVu"
//$main-font = "Futura PT"
//$main-font = "Gotham Pro"
//$main-font = "Helvetica"
//$main-font = "Lato"
//$main-font = "Lobster"
$main-font = "MuseoSans"
//$main-font = "Open Sans"
//$main-font = "Open Sans Condensed"
//$main-font = "Oswald"
//$main-font = "Pattaya"
//$main-font = "Proxima Nova"
//$main-font = "PT Sans"
//$main-font = "Raleway"
//$main-font = "Roboto"
//$main-font = "Roboto Condensed"